In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("Test_0qrQsBZ.csv")
train = pd.read_csv("Train_SU63ISt.csv")

In [7]:
test.head(5) #head_test

      ID          Datetime
0  18288  26-09-2014 00:00
1  18289  26-09-2014 01:00
2  18290  26-09-2014 02:00
3  18291  26-09-2014 03:00
4  18292  26-09-2014 04:00

In [5]:
test.describe() #describe_test

                 ID
count   5112.000000
mean   20843.500000
std     1475.851619
min    18288.000000
25%    19565.750000
50%    20843.500000
75%    22121.250000
max    23399.000000

In [9]:
test['ID'].value_counts() #unique_test #type:pandas.core.series.Series

18431    1
21051    1
23090    1
21043    1
18996    1
23094    1
21047    1
19000    1
23098    1
19004    1
21039    1
23102    1
21055    1
19008    1
23106    1
21059    1
19012    1
23110    1
18992    1
23086    1
19016    1
18976    1
21015    1
18968    1
23066    1
21019    1
18972    1
23070    1
21023    1
23074    1
        ..
21776    1
21780    1
21724    1
19735    1
21784    1
19739    1
21788    1
19743    1
21792    1
19747    1
19715    1
21760    1
19711    1
21756    1
19679    1
21728    1
19683    1
21732    1
19687    1
21736    1
19691    1
21740    1
19695    1
21744    1
19699    1
21748    1
19703    1
21752    1
19707    1
18433    1
Name: ID, Length: 5112, dtype: int64