In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("Mall_Customers.csv")
data.head(5)

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [10]:
# data.keys() : pandas.core.indexes.base.Index

32    11
35     9
19     8
31     8
30     7
49     7
27     6
47     6
40     6
23     6
36     6
38     6
50     5
48     5
29     5
21     5
20     5
34     5
18     4
28     4
59     4
24     4
67     4
54     4
39     3
25     3
33     3
22     3
37     3
43     3
68     3
45     3
46     3
60     3
41     2
57     2
66     2
65     2
63     2
58     2
26     2
70     2
42     2
53     2
52     2
51     2
44     2
55     1
64     1
69     1
56     1
Name: Age, dtype: int64

In [12]:
value1 = data["Gender"].value_counts()
value2 = data["Age"].value_counts()
value3 = data["Annual Income (k$)"].value_counts()
value4 = data["Spending Score (1-100)"].value_counts()